<template>
  <div class="main">
    <header class="head" id="titlebar">
      Paycon
      <div id="drag-region">
        <div id="window-controls">
          <div class="button" id="min-button">
            <img
              class="icon"
              srcset="
                ../assets/icons/min-w-10.png 1x,
                ../assets/icons/min-w-12.png 1.25x,
                ../assets/icons/min-w-15.png 1.5x,
                ../assets/icons/min-w-15.png 1.75x,
                ../assets/icons/min-w-20.png 2x,
                ../assets/icons/min-w-20.png 2.25x,
                ../assets/icons/min-w-24.png 2.5x,
                ../assets/icons/min-w-30.png 3x,
                ../assets/icons/min-w-30.png 3.5x
              "
              draggable="false"
            />
          </div>

          <div class="button" id="max-button">
            <img
              class="icon"
              srcset="
                ../assets/icons/max-w-10.png 1x,
                ../assets/icons/max-w-12.png 1.25x,
                ../assets/icons/max-w-15.png 1.5x,
                ../assets/icons/max-w-15.png 1.75x,
                ../assets/icons/max-w-20.png 2x,
                ../assets/icons/max-w-20.png 2.25x,
                ../assets/icons/max-w-24.png 2.5x,
                ../assets/icons/max-w-30.png 3x,
                ../assets/icons/max-w-30.png 3.5x
              "
              draggable="false"
            />
          </div>

          <div class="button" id="restore-button">
            <img
              class="icon"
              srcset="
                ../assets/icons/restore-w-10.png 1x,
                ../assets/icons/restore-w-12.png 1.25x,
                ../assets/icons/restore-w-15.png 1.5x,
                ../assets/icons/restore-w-15.png 1.75x,
                ../assets/icons/restore-w-20.png 2x,
                ../assets/icons/restore-w-20.png 2.25x,
                ../assets/icons/restore-w-24.png 2.5x,
                ../assets/icons/restore-w-30.png 3x,
                ../assets/icons/restore-w-30.png 3.5x
              "
              draggable="false"
            />
          </div>

          <div class="button" id="close-button">
            <img
              class="icon"
              srcset="
                ../assets/icons/close-w-10.png 1x,
                ../assets/icons/close-w-12.png 1.25x,
                ../assets/icons/close-w-15.png 1.5x,
                ../assets/icons/close-w-15.png 1.75x,
                ../assets/icons/close-w-20.png 2x,
                ../assets/icons/close-w-20.png 2.25x,
                ../assets/icons/close-w-24.png 2.5x,
                ../assets/icons/close-w-30.png 3x,
                ../assets/icons/close-w-30.png 3.5x
              "
              draggable="false"
            />
          </div>
        </div>
      </div>
    </header>
    <div class="bod">
      <v-form
        enctype="multipart/form-data"
        @submit.prevent="convert({ file: uploadedFile })"
        v-model="isValid"
        ref="form"
      >
        <div id="window-title">
          <span class="headline">{{ formTitle }} </span>
        </div>
        <v-row>
          <v-col class="pb-0" cols="8">
            <v-file-input
              show-size
              v-model="uploadedFile"
              :rules="[rules.required, rules.max]"
              label="Ingresa Documento"
            >
            </v-file-input>
          </v-col>
        </v-row>
        <v-spacer>
          <v-btn
            color="blue darken-1"
            text
            type="submit"
            :disabled="!isValid"
            :loading="loading"
            >Convertir
          </v-btn>
        </v-spacer>
        <resultDialog
          :resultDialog="resultDialog"
          :reply="reply"
          :filePath="filePath"
          :shell="shell"
          @resultDiag="setDialogResult"
        />
      </v-form>
    </div>
  </div>
</template>

<script>
  import resultDialog from '@/components/resultDialog.vue'

  export default {
    name: 'fileConvert',
    components: {
      resultDialog,
    },
    data: () => ({
      resultDialog: false,
      reply: '',
      filePath: '',
      uploadedFile: undefined,
      rules: {
        required: value => !!value || 'Campo requerido.',
        max: value =>
          !value || value.size < 20000000 || 'Documento no debe exceder 20MB!',
      },
      isValid: false,
      loading: false,
      shell: window.shell,
    }),

    computed: {
      formTitle() {
        return 'Convertidor de documentos'
      },
    },

    created() {
      this.clear()
    },

    /* eslint-disable */
    mounted() {
      this.$nextTick(function() {
        window.ipcRenderer.on('asynchronous-reply', (event, data) => {
          this.loading = false
          this.resultDialog = true
          this.reply = data
        })

        document.onreadystatechange = event => {
          if (document.readyState == 'complete') {
            this.handleWindowControls()
          }
        }
      })
    },

    methods: {
      setDialogResult(boo) {
        this.resultDialog = boo
        if (boo == false) this.clear()
      },

      async convert(data) {
        this.$refs.form.validate()
        this.loading = true
        const filePath = data.file.path
        await window.ipcRenderer.send('asynchronous-message', filePath)
        this.filePath = filePath
      },
      clear() {
        this.uploadedFile = undefined
      },

      handleWindowControls() {
        const win = window.remote.getCurrentWindow()
        // Make minimise/maximise/restore/close buttons work when they are clicked
        document.getElementById('min-button').addEventListener('click', event => {
          win.minimize()
        })

        document.getElementById('close-button').addEventListener('click', event => {
          win.close()
        })
      },
    },
    /* eslint-enable */
  }
</script>
<style>
  @import '../styles/main.css';
</style>
