<template>
  <div id="resultDialog">
    <v-row>
      <v-col>
        <v-dialog
          v-model="resultDialog"
          max-width="400"
          >
          <v-card>
            <v-card-title>
              <span class="headline">Documento procesado</span>
            </v-card-title>

            <v-card-text>
              {{ this.reply }}
            </v-card-text>

            <v-card-actions>
              <v-btn color="blue darken-1" text @click="openFolder(filePath)">Abrir Carpeta</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" text @click="close()">Cerrar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </div>
</template>

<script>

export default {
  name: 'resultDialog',
  data () {
    return {}
  },
  props: {
    resultDialog: Boolean,
    reply: String,
    filePath: String,
    shell: undefined
  },
  computed: {
    newDialog: {
      get () {
        return this.resultDialog
      },
      set () {
        this.$emit('resultDiag', false)
      }
    }
  },
  methods: {
    close () {
      this.$emit('resultDiag', false)
    },

    openFolder (filePath) {
      this.shell.showItemInFolder(filePath)
      this.close()
    }
  }
}
</script>
