<template>
  <v-app id="inspire">
    <router-view />
  </v-app>
</template>

<script>
  export default {
    name: 'app',
    components: {},
    data: () => ({
      //
    }),
  }
</script>
<style scoped></style>
